[Unit]
Description=Run healthcheck every 30 minutes

[Timer]
OnCalendar=*:0/30
Persistent=true
Unit=formsubmitterhealth.service

[Install]
WantedBy=timers.target
